<section class="py-5 sec-background mb-5">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-md-3">
        <div class="facility-box text-center">
          <div
            class="p-2 border border-white rounded-circle facility-icon mx-auto mb-3"
          >
            <span class="p-3 d-block text-center rounded-circle bg-white">
              <i class="fa-solid fa-plane"></i>
            </span>
          </div>
          <p class="mb-0">FREE SHIPPING WORLD WIDE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="facility-box text-center">
          <div
            class="p-2 border border-white rounded-circle facility-icon mx-auto mb-3"
          >
            <span class="p-3 d-block text-center rounded-circle bg-white">
              <i class="fa-solid fa-money-check-dollar"></i>
            </span>
          </div>
          <p class="mb-0">100% MONEY BACK GUARANTEE</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="facility-box text-center">
          <div
            class="p-2 border border-white rounded-circle facility-icon mx-auto mb-3"
          >
            <span class="p-3 d-block text-center rounded-circle bg-white">
              <i class="fa-regular fa-credit-card"></i
            ></span>
          </div>
          <p class="mb-0">MANY PAYMENT GATWAYS</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="facility-box text-center">
          <div
            class="p-2 border border-white rounded-circle facility-icon mx-auto mb-3"
          >
            <span class="p-3 d-block text-center rounded-circle bg-white">
              <i class="fa-solid fa-headset"></i>
            </span>
          </div>
          <p class="mb-0">24/7 ONLINE SUPPORT</p>
        </div>
      </div>
    </div>
  </div>
</section>
