
thead, tr:last-child{
  border-block: 1px solid black !important;
}

tbody{
  vertical-align: middle;
}
.cate{
  font-size: .8rem;
}

.remove:hover{
  color: red;
}


@media screen and (max-width:768px) {
  table th, table td{
    font-size: .8rem;
  }
  .name{
    display: none;
  }
  .name-img{
    display: block !important;
  }
  .product-img{
        width: 70px !important;

  }
  .empty-img{
    width: 100%;
  }

}
