<section class="mt-5 sec-background py-5 partner">
  <div class="container">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div>
          <img src="./assets/images/partner1.png" alt="partner" >
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <img src="./assets/images/partner2.png" alt="partner">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <img src="./assets/images/partner3.png" alt="partner">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <img src="./assets/images/partner4.png" alt="partner">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <img src="./assets/images/partner5.png" alt="partner">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div>
          <img src="./assets/images/partner6.png" alt="partner">
        </div>
      </ng-template>
    </owl-carousel-o>


  </div>
</section>
