<footer>
  <div class="container">
    <div class="row py-5 g-4 me-0">
      <div class="col-md-3">
        <div class="mb-3">
        <a href="">
        <img src="../assets/images/logo.png" alt="logo">
        </a>
        </div>
        <p class="text-muted text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
      </div>
      <div class="col-md-3">
        <div class="links">
          <h3 class="mb-2 pb-1 position-relative">QUICK LINKS
          </h3>
          <ul class="p-0">
            <li class="mb-2"><a routerLink="products" class="text-muted">Shop</a></li>
            <li class="my-2"><a href="" class="text-muted">Categories</a></li>
            <li><a href="" class="text-muted">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="links">
          <h3 class="mb-2 pb-1 position-relative">INFORMATION

          </h3>
          <ul class="p-0">
            <li class="mb-2"><a routerLink="signin" class="text-muted">Login</a></li>
            <li class="my-2"><a routerLink="signup" class="text-muted">Signup</a></li>
            <li><a href="" class="text-muted">Contact Us</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3 pe-0">
        <div class="links">
          <h3 class="mb-2 pb-1 position-relative">CONTACT US
          </h3>
          <ul class="p-0">
            <li class="mb-2"><i class="fa-solid fa-location-dot me-2"></i>Location: 2750 Quadra Street Victoria, Canada
            </li>
            <li class="mb-2"><i class="fa-solid fa-phone me-2"></i>Call Us: (+123) 456-7898
            </li>
            <li class="mb-2"><i class="fa-solid fa-envelope me-2"></i>Email Us: support@bolster.com
            </li>
          </ul>
        </div>
      </div>
    </div>
    </div>
    <div class="sec-background py-3 ">
      <div class="container">
    <div class="row align-items-center me-0">
      <div class="col-md-6 text-center text-md-start">
        <span class="text">Copyright © 2020 Bolster. All Rights Reserved
        </span>
      </div>
      <div class="col-md-6 text-md-end text-center">
        <img src="../assets/images/mastercard.png" alt="card">
        <img src="../assets/images/visa.png" alt="card">
        <img src="../assets/images/mastercard2.png" alt="card">
        <img src="../assets/images/visa2.png" alt="card">
        <img src="../assets/images/expresscard.png" alt="card">
      </div>
      </div>
    </div>
    </div>
</footer>
