<section class="products sec-background" [ngClass]="{'notfound-bg':allProducts.length<=0}">
  <div class="container">
    <div class="row g-5 m-0" *ngIf="productList; else noProductFound">
      <div class="col-xl-3 col-lg-4 col-md-6" *ngFor="let product of allProducts">
        <div class="product">
        <div class="product-img overflow-hidden">
          <a [routerLink]="['/productdetails',product.id]">
          <img [src]="product.imageCover" alt="productImage" class="w-100">
          </a>
          </div>
          <div class="mt-3">
            <h2 class="h5"><a [routerLink]="['/productdetails',product.id]" class="text-black">{{product.title.split(' ').splice(0,2).join(" ")}}</a></h2>
            <h4 class="h6">{{product.category.name}}</h4>
            <span>{{product.price}} EGP</span>
              <div>
                <span *ngIf="product.ratingsAverage>=1"><i class="fa-solid fa-star text-warning"></i></span>
                <span *ngIf="product.ratingsAverage>=2"><i class="fa-solid fa-star text-warning"></i></span>
                <span *ngIf="product.ratingsAverage>=3"><i class="fa-solid fa-star text-warning"></i></span>
                <span *ngIf="product.ratingsAverage>=4"><i class="fa-solid fa-star text-warning"></i></span>
                <span *ngIf="product.ratingsAverage>=5"><i class="fa-solid fa-star text-warning"></i></span>
              </div>
              <div class="text-start d-flex justify-content-between mt-2">
                <app-add-button [product]="product"></app-add-button>
                <div>
                <a class="text-black bg-white p-2 rounded-circle me-2 details" [routerLink]="['/productdetails',product.id]"><i class="fa-solid fa-eye"></i></a>
                <app-wish-list-button [product]="product"></app-wish-list-button>
                </div>
              </div>
          </div>
        </div>
      </div>
      </div>
<ng-template #noProductFound>
      <div class="text-center noproduct-found">
        <img src="./assets/images/1357b33cb4057ecb3c6f869fc977561d.jpg"  alt="notfound">
      </div>
</ng-template>
    </div>

</section>
