<section class="mt-5 pt-3 overflow-hidden home-slider">
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide >
      <div class="slide1">
        <div class="container ">
          <div class="d-flex text-white justify-content-center text flex-column">
        <h6 class=" text-capitalize">limited time offer!</h6>
        <h1 class=" text-uppercase">winter-spring 2023!</h1>
        <p>Take 20% Off ‘Sale Must-Haves'</p>
        <div>
        <a href="#" class="btn btn-dark rounded-0 py-2 px-3 me-3">Shop Women's</a>
        <a href="#" class="btn bg-transparent border border-light text-white rounded-0 py-2 px-3">Shop Men's</a>
        </div>
      </div>
      </div></div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide2">
        <div class="container ">
          <div class="d-flex text-white justify-content-center text flex-column">
        <h6 class=" text-capitalize">New Inspiration 2023!</h6>
        <h1 class=" text-uppercase">Summer-spring 2023!</h1>
        <p>Trending from men and women style collection</p>
        <div>
        <a href="#" class="btn btn-dark rounded-0 py-2 px-3 me-3">Shop Women's</a>
        <a href="#" class="btn bg-transparent border border-light text-white rounded-0 py-2 px-3">Shop Men's</a>
        </div>
      </div>
      </div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="slide3">
        <div class="container ">
          <div class="d-flex text-white justify-content-center text flex-column">
        <h6 class=" text-capitalize">New Inspiration 2023!</h6>
        <h1 class=" text-uppercase">Travel-spring 2023!</h1>
        <p>Up To 30% OFF Select Styles</p>
        <div>
        <a href="#" class="btn btn-dark rounded-0 py-2 px-3 me-3">Shop Women's</a>
        <a href="#" class="btn bg-transparent border border-light text-white rounded-0 py-2 px-3">Shop Men's</a>
        </div>
      </div>
      </div>
      </div>
    </ng-template>
  </owl-carousel-o>

</section>
