<section class="py-5">
  <div class="container">
    <div class="row g-4">
      <div class="col-md-6">
        <div class="rounded overflow-hidden position-relative box">
          <img src="./assets/images/box1.jpg" alt="box1" class="w-100">
          <div class=" position-absolute top-50 start-0 translate-middle-y ps-5">
            <span>Don’t Miss Today’s Featured Deals </span>
            <h5 class="fw-bold mt-2 mb-3">50% OFF</h5>
            <a href="" class="btn bg-transparent border border-black rounded-0 text-uppercase px-3">discover now</a>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="rounded overflow-hidden position-relative box">
          <img src="./assets/images/box2.jpg" alt="box2" class="w-100">
          <div class=" position-absolute top-50 start-0 translate-middle-y ps-5">
            <span>New Personalizable Collection</span>
            <h5 class="fw-bold mt-2 mb-3">Need It Now
            </h5>
            <a href="" class="btn bg-transparent border border-black rounded-0 text-uppercase px-3">discover now</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
