<section class="photo-slider">
<div>
  <owl-carousel-o [options]="customOptions">
    <ng-template carouselSlide>
      <div class="row g-0 flex-nowrap">
        <div class="col-4">
        <img src="./assets/images/instagram1.jpg" alt="instagram"></div>
        <div class="col-4">
        <img src="./assets/images/instagram2.jpg" alt="instagram"></div>
        <div class="col-4">
        <img src="./assets/images/instagram3.jpg" alt="instagram"></div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="row g-0 flex-nowrap">
        <div class="col-4">
        <img src="./assets/images/instagram4.jpg" alt="instagram"></div>
        <div class="col-4">
        <img src="./assets/images/instagram5.jpg" alt="instagram"></div>
        <div class="col-4">
        <img src="./assets/images/instagram6.jpg" alt="instagram"></div>
      </div>
    </ng-template>
    <ng-template carouselSlide>
      <div class="row g-0 flex-nowrap">
        <div class="col-4">
        <img src="./assets/images/instagram7.jpg" alt="instagram"></div>
        <div class="col-4">
        <img src="./assets/images/instagram8.jpg" alt="instagram"></div>
        <div class="col-4">
        <img src="./assets/images/instagram9.jpg" alt="instagram"></div>
      </div>
    </ng-template>




  </owl-carousel-o>
</div>
</section>
